<header class="d-flex flex-wrap justify-content-center py-2 mb-4">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="{{ "assets/img/voideheadstudios.png" | relative_url }}" style="max-height: 100px;">
  </a>

  <ul class="nav nav-masthead justify-content-center fs-5">
    <li class="nav-item fw-bold py-1 px-0 active"><a href="#" class="nav-link ms-3 active" aria-current="page">Home</a></li>
    <li class="nav-item fw-bold py-1 px-0"><a href="#" class="nav-link ms-3">Contact</a></li>
  </ul>
</header>
