/*
 * Nav
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: rgba(0, 0, 0, .25);
}
body.teaser .nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
}

body.teaser .nav-masthead .nav-link:hover,
body.teaser .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

body.teaser .nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Teaser
 */

body.teaser {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: url('../img/Splash.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.teaser .btn-secondary,
body.teaser .btn-secondary:hover,
body.teaser .btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 45em;
}
